<p id="notice"><%= notice %></p>

<p>
  <b>Image name:</b>
  <%= @photo.image_name %>
</p>

<p>
  <b>Image description:</b>
  <%= @photo.image_description %>
</p>

<p>
  <b>Image type:</b>
  <%= @photo.image_type %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
