<%= form_for(@photo1) do |f| %>
  <% if @photo1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo1.errors.count, "error") %> prohibited this photo1 from being saved:</h2>

      <ul>
      <% @photo1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </div>
  <div class="field">
    <%= f.label :image_description %><br />
    <%= f.text_field :image_description %>
  </div>
  <div class="field">
    <%= f.label :image_type %><br />
    <%= f.number_field :image_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
